@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/ov-soge');
@import url('https://fonts.cdnfonts.com/css/uncut-sans');
@import url('https://fonts.cdnfonts.com/css/inter');

/* Custom base styles */
@layer base {
  body {
    @apply font-sans;
  }
}

